/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.thumbnail-enter {
  opacity: 0;
}
.thumbnail-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.thumbnail-exit {
  opacity: 1;
}
.thumbnail-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}