.destinationTile-enter {
    opacity: 0;
}
.destinationTile-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.destinationTile-exit {
    opacity: 1;
}
.destinationTile-exit-active {
    opacity: 0;
    transition: opacity 50ms ease-in;
}